<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="com.yf.zx.web" />
	
	<bean id="callWsTaskJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="callWsTask"/> 
        <property name="targetMethod" value="runTask"/>
	</bean>	
	<bean id="callWsTaskJobGrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="callWsTaskJob" />		
		<property name="cronExpression" value="0 59 23 * * ?" />		
	</bean>

	<!--拨测 2m执行一次 -->
	<bean id="dialTestingTaskJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="dialTestingTask"/> 
        <property name="targetMethod" value="runTask"/>
	</bean>	
	<bean id="dialTestingTaskJobGrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="dialTestingTaskJob" />		
		<property name="cronExpression" value="0 0/2 * * * ?" />		
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="startupDelay" value="0"/>
		<property name="triggers">
			<list>
				<!-- <ref bean="callWsTaskJobGrigger" /> -->
				<!-- <ref bean="dialTestingTaskJobGrigger" /> -->
			</list>
		</property>
	</bean>
</beans>