<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yf.zx.biz.sys.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.yf.zx.biz.sys.user.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="lastlogin_time" property="lastloginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loginname, username, password, salt, phone, email, locked, lastlogin_time
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <!-- 根据主键更新，字段可选 -->
  <update id="updateById" parameterType="com.yf.zx.biz.sys.user.entity.User" >
    update sys_users
    <set >
      <if test="loginname != null" >
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="lastloginTime != null" >
        lastlogin_time = #{lastloginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据主键更新 -->
  <update id="updateByPrimaryKey" parameterType="com.yf.zx.biz.sys.user.entity.User" >
    update sys_users
    set loginname = #{loginname,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=BIT},
      lastlogin_time = #{lastloginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from sys_users
  	where username like #{username, jdbcType=VARCHAR}
  </select>
  
  <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from sys_users
  	where loginname = #{loginname, jdbcType=VARCHAR}
  </select>
  
  <!-- 主键自增，字段可选 -->
  <insert id="insertAutoId" useGeneratedKeys="true" keyProperty="id" 
 		parameterType="com.yf.zx.biz.sys.user.entity.User" >
	insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginname != null" >
        loginname,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="lastloginTime != null" >
        lastlogin_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="lastloginTime != null" >
        #{lastloginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 条件查询 -->
  <select id="selectUser" parameterType="com.yf.zx.biz.sys.user.entity.User" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from sys_users
  	<where>
      <if test="loginname != null and loginname != ''" >
        and loginname like #{loginname,jdbcType=VARCHAR}
      </if>
      <if test="username != null and username != ''" >
        and username like #{username,jdbcType=VARCHAR}
      </if>
      <if test="phone != null and phone != ''" >
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="email != null and email != ''" >
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="locked != null" >
        and locked = #{locked,jdbcType=BIT}
      </if>
  	</where>
  </select>
  
  <!-- 根据id列表删除多个，物理删除 -->
  <delete id="delByIds">
  	delete from sys_users
  	 where id in
  	 <foreach item="id" index="index" collection="array" open="(" separator="," close=")"> 
	    #{id} 
	</foreach>
  </delete>
</mapper>