<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yf.zx.biz.sys.menu.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.yf.zx.biz.sys.menu.entity.Menu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menuname" property="menuname" jdbcType="VARCHAR" />
    <result column="menuurl" property="menuurl" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="BIGINT" />
    <result column="menuicon" property="menuicon" jdbcType="VARCHAR" />
    <result column="menuorder" property="menuorder" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="isbtn" property="isbtn" jdbcType="BIT" />
    <result column="treeIconSkin" property="treeiconskin" jdbcType="VARCHAR" />
    <result column="isshow" property="isshow" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menuname, menuurl, parentid, menuicon, menuorder, level, isbtn, treeIconSkin, isshow
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_menus
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_menus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertAutoId" useGeneratedKeys="true" keyProperty="id" 
  parameterType="com.yf.zx.biz.sys.menu.entity.Menu" >
    insert into sys_menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuname != null" >
        menuname,
      </if>
      <if test="menuurl != null" >
        menuurl,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="menuicon != null" >
        menuicon,
      </if>
      <if test="menuorder != null" >
        menuorder,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="isbtn != null" >
        isbtn,
      </if>
      <if test="treeiconskin != null" >
        treeIconSkin,
      </if>
      <if test="isshow != null" >
        isshow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menuurl != null" >
        #{menuurl,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=BIGINT},
      </if>
      <if test="menuicon != null" >
        #{menuicon,jdbcType=VARCHAR},
      </if>
      <if test="menuorder != null" >
        #{menuorder,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="isbtn != null" >
        #{isbtn,jdbcType=BIT},
      </if>
      <if test="treeiconskin != null" >
        #{treeiconskin,jdbcType=BIT},
      </if>
      <if test="isshow != null" >
        #{isshow,jdbcType=BIT},
      </if>
    </trim>
  </insert>
   <!-- 根据主键更新，字段可选 -->
  <update id="updateById" parameterType="com.yf.zx.biz.sys.menu.entity.Menu" >
    update sys_menus
    <set >
      <if test="menuname != null" >
        menuname = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menuurl != null" >
        menuurl = #{menuurl,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=BIGINT},
      </if>
      <if test="menuicon != null" >
        menuicon = #{menuicon,jdbcType=VARCHAR},
      </if>
      <if test="menuorder != null" >
        menuorder = #{menuorder,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="isbtn != null" >
        isbtn = #{isbtn,jdbcType=BIT},
      </if>
      <if test="isshow != null" >
        isshow = #{isshow,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yf.zx.biz.sys.menu.entity.Menu" >
    update sys_menus
    set menuname = #{menuname,jdbcType=VARCHAR},
      menuurl = #{menuurl,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=BIGINT},
      menuicon = #{menuicon,jdbcType=VARCHAR},
      menuorder = #{menuorder,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      isbtn = #{isbtn,jdbcType=BIT},
      isshow = #{isshow,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <!-- 查询menulist -->
  <select id="selectMenu" parameterType="com.yf.zx.biz.sys.menu.entity.MenuVo" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from sys_menus
    <where>
    	<if test="id != null">
    		parentid = #{id, jdbcType=BIGINT}
    	</if>
    	<if test="menuname != null and menuname != ''">
    		and menuname = #{menuname, jdbcType=VARCHAR}
    	</if>
    	<if test="menuurl != null and menuurl != ''">
    		and menuurl = #{menuurl, jdbcType=VARCHAR}
    	</if>
    	<if test="parentid != null">
    		and parentid = #{parentid, jdbcType=BIGINT}
    	</if>
    	<if test="menuicon != null and menuicon != ''">
    		and menuicon = #{menuicon, jdbcType=VARCHAR}
    	</if>
    	<if test="level != null">
    		and level = #{level, jdbcType=INTEGER}
    	</if>
    	<if test="isbtn != null">
    		and isbtn = #{isbtn, jdbcType=BIT}
    	</if>
    	<if test="menuorder != null">
    		and menuorder = #{menuorder, jdbcType=INTEGER}
    	</if>
    	<if test="treeiconskin != null">
    		and treeIconSkin = #{treeiconskin, jdbcType=BIT}
    	</if>
    	<if test="isshow != null">
    		and isshow = #{isshow, jdbcType=BIT}
    	</if>
    </where>
    ORDER BY menuorder asc
  </select>
  
    <!-- 根据id列表删除多个，物理删除 -->
  <delete id="delByIds">
  	delete from sys_menus
  	 where id in
  	 <foreach item="id" index="index" collection="array" open="(" separator="," close=")"> 
	    #{id} 
	</foreach>
  </delete>
</mapper>